ion-card-title{ 
  color: #eeeeee;
}
ion-card-subtitle {
  color: #ccc;
}
.feed-list {
  display: flex;
}

.feed-meta {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  margin-bottom: -12px;
}

.feed-title {
  display: flex;
  justify-content: space-around;
}

.feed-info {
  margin-top: 34px;
  padding: 8px;
  position: relative;
  /* background: rgba(245,245,245,0.5); */
  backdrop-filter: blur(2px);
}

.feed-card {
  height: 90px;
  width: 156px;
  border-radius: 9px;
}
img {
  position: absolute;
  max-width: 120%;
}
