<div class="feed-title">
  <ion-text>{{name}}</ion-text>
  <ion-text color="secondary" (click)="OnClick('alles')">{{targetText}}</ion-text>
</div>
<div class="feed-list">
  <div class="feed-entry" *ngFor="let product of DistanceMockData">
    <div class="feed-meta">
      <p>Noch 3 Tage</p>
      <p>.</p>
      <p>Mind. {{product.Fuellmenge}} {{product.Einheit}}</p>
    </div>
    <ion-card class="feed-card">
      <img src="/assets/images/{{this.product.Name}}.png"/>
      <div class="feed-info">
        <ion-card-title>
          {{product.Name}}
        </ion-card-title>
        <ion-card-subtitle>
          {{product.Distanz}} km
        </ion-card-subtitle>
      </div>
    </ion-card>
  </div>
</div>
