<ion-header class="no-shadow">
    <ion-toolbar>
        <ion-title>{{this.produkt.Name}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="grid">
    <ion-img style="width: 100%;" src="/assets/images/{{this.produkt.Name}}.png"></ion-img>
    
    <ion-list class="informations">
        <ion-item class="price">
            <ion-label>Preis</ion-label>
            <ion-note slot="end">{{this.produkt.Preis}} €</ion-note>
        </ion-item>
        <!-- <ion-item class="location">
            <ion-label>Standort</ion-label>
            <ion-note slot="end">{{this.produkt.Location}}</ion-note>
        </ion-item> -->
        <ion-item class="durability">
            <ion-label>Haltbarkeit bis</ion-label>
            <ion-note slot="end">{{this.produkt.MHD.toLocaleDateString()}}</ion-note>
        </ion-item>
        <!-- <ion-item class="notes">
            <ion-label>Standort</ion-label>
            <ion-note slot="end">{{this.produkt.Notes}}Produkt.Notes</ion-note>
        </ion-item> -->
        <!-- <ion-item class="pickupTime">
            <ion-label>Abholzeitraum</ion-label>
            <ion-note slot="end">{{this.produkt.Preis}}Produkt.pickupTime</ion-note>
        </ion-item> -->
        <!-- <ion-item class="pickupLocation">
            <ion-label>Ort Abholung</ion-label>
            <ion-note slot="end">{{this.produkt.Preis}}Produkt.PickupLocation</ion-note>
        </ion-item> -->
    </ion-list>
    <ion-list class="approval">
        <ion-item class="quantity">
            <ion-label>Abnahmemenge</ion-label>
            <ion-note slot="end">{{this.produkt.Fuellmenge}}{{this.produkt.Einheit}}</ion-note>
        </ion-item>
    </ion-list>
    <ion-list class="accept">
        <ion-button expand="block">Anfragen</ion-button>
    </ion-list>
</ion-content>