<ion-app>
  <ion-tabs>
    <ion-toolbar slot="top" class="no-shadow">
      <ion-buttons slot="secondary">
        <ion-button color="secondary" class="text-semibold">
          <!-- <ion-icon slot="start" name="notifications"></ion-icon> -->
          Alarme
        </ion-button>
        <ion-button color="secondary">
          <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-tab-bar  class="no-border" slot="bottom">
      <ion-tab-button tab="market">
        <ion-icon name="radio-outline"></ion-icon>
        <ion-label>Markt</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="add-product">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>Inserieren</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>Konto</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>

