<ion-app>
  <ion-tabs>
    <ion-header class="no-shadow">
      <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-button color="secondary">
            Alarme
          </ion-button>
          <ion-button color="secondary">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>App</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-tab-bar  class="no-border" slot="bottom">
      <ion-tab-button tab="market">
        <ion-icon name="radio-outline"></ion-icon>
        <ion-label>Markt</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="add-product">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>Inserieren</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>Konto</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>

