/* You can add global styles to this file, and also import other style files */
.no-shadow {
  box-shadow: none;
}

.no-shadow::before, .no-shadow::after {
  background-image: none;
}

.no-border {
  border: none;
}

.grid {
  display: grid;
}
